<ion-header>
  <ion-toolbar color="primary">
   
    <ion-title>
      Análisis 
    </ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
   <ion-button href="evelocidad" expand="block" fill="outline" color="danger">Exceso de velocidad</ion-button>
    <ion-button href="frenado" expand="block" fill="outline" color="warning">Frenado agresivo</ion-button>
    <ion-button href="aceleracion" expand="block" fill="outline" color="medium">Aceleración agresiva</ion-button>
    </ion-list>
</ion-content>
